@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 16px;
}

/* -----header----- */

.header {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(5, 5, 29, 0.527), rgba(6, 6, 29, 0.575)),
    url(/images/banner.png);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  align-items: center;
  background: rgba(5, 5, 29, 0);
  /* position:sticky; */
}

.logo img {
  width: 150px;
  cursor: pointer;
}

.navbar {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  list-style: none;
  padding: 0 10px;
  display: inline-block;
  /* position: sticky; */
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.navbar ul li ::after {
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  background: orange;
  transition: all 0.5s;
}

.navbar ul li :hover::after {
  /* display: block; */
  width: 100%;
}

.text-box {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.text-box h1 {
  font-size: 3rem;
  color: white;
  padding-bottom: 15px;
}

.text-box p {
  font-weight: 100;
  color: lightgray;
  padding-bottom: 25px;
}

.text-box a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  padding: 0.8rem 4rem;
  /* border-radius: 100px; */
  color: white;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.text-box a:hover {
  background: orangered;
}

.navbar .fa,
.heading .fa {
  display: none;
}

/* --------courses-------- */

.course {
  width: 80%;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}

.course h1 {
  font-size: 3rem;
  padding: 10px;
}

.course p {
  font-size: 1rem;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-col {
  flex-basis: 32%;
  min-width: 300px;
  /* border: 1px solid black; */
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 12px -3px #2a2424eb;
  background: rgba(255, 68, 0, 0.212);
  transition: all 0.5s;
}

.text-col:hover {
  box-shadow: 0 0 20px 0 black;
}

.text-col h1 {
  font-size: 2rem;
  font-weight: 600;
}

.text-col p {
  font-size: 0.9rem;
  margin-bottom: 0;
  line-height: 2;
}

/* ---------campus--------- */

.campus {
  width: 80%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: 0 auto;
  /* background: rgba(255, 68, 0, 0.164); */
}

.campus h1 {
  font-size: 3rem;
  /* line-height: 2; */
}

.campus p {
  margin-bottom: 50px;
}

.img-col {
  flex-basis: 32%;
  margin: 0 10px;
  position: relative;
  /* overflow: hidden; */
}

.img-col img {
  width: 100%;
  /* height: 100%; */
  display: block;
  border-radius: 10px;
  /* position: relative; */
}

.layer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 10px;
  transition: all 0.8s;
}
.layer:hover {
  background: rgba(255, 0, 0, 0.658);
}

.layer h3 {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  opacity: 0;
  /* display: none; */
  /* visibility: hidden; */
  left: 0;
  right: 0;
  /* transition:5s; */
  margin: auto;
  transition: all 0.5s;
  /* left: -50%; */
  /* width: 100%; */
  /* transform: translateX(-50%); */
}

.layer:hover h3 {
  /* display: block;
  top: 50%;
  position: absolute;
  transition: all 5s; */
  bottom: 49%;
  opacity: 1;
}

/* ----------facilities---------- */

.facilities {
  width: 80%;
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
}

.facilities h1 {
  font-size: 3rem;
}

.facilities p {
  margin-bottom: 50px;
}

.facilities-col {
  flex-basis: 32%;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.facilities-col h1 {
  font-size: 1.3rem;
  padding: 10px;
  text-align: left;
}

.facilities-col p {
  font-size: 0.8rem;
  line-height: 2;
  text-align: left;
  padding: 10px;
}

/* ------------testimonial--------- */

.testimonial {
  width: 80%;
  text-align: center;
  padding-bottom: 50px;
  margin: 0 auto;
}

.testimonial h1 {
  font-size: 3rem;
}

.testimonial p {
  margin-bottom: 50px;
}

.testimonial-col {
  flex-basis: 44%;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255, 68, 0, 0.356);
}

.testimonial-col img {
  width: 15%;
  border-radius: 50%;
  float: left;
  /* margin-right: 20px;  */
}

.testimonial-col p {
  text-align: left;
  width: 80%;
  color: rgb(82, 82, 82);
  margin: 0;
  float: right;
  /* clear: both; */
  font-size: 0.8rem;
  line-height: 1.9;
  word-spacing: 3px;
  /* margin-left: 10px; */
}

.testimonial-col h4 {
  font-weight: 600;
  width: 80%;
  margin-top: 10px;
  float: right;
  text-align: left;
}

h4 .fa {
  color: orangered;
}

/* -----------contact us---------- */

.contact {
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.719)),
    url(/images/course.jpg);
  background-position: center;
  background-size: cover;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  height: 30vh;
  position: relative;
}

.contact h1 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.contact a {
  text-decoration: none;
  /* width: 150px; */
  /* margin: auto; */
  text-transform: uppercase;
  color: white;
  border: 1px solid white;
  padding: 10px 30px;
  transition: all 0.5s;
  font-weight: 500;
}

.contact a:hover {
  background: orangered;
}
/* -----two way to text positioning center. one is apply on position properties and another is display flex----- */

.text-middle {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------footer--------- */

.end {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
  background: rgb(0, 0, 0);
}

.end h1 {
  font-size: 3rem;
  color: white;
}

.end p {
  font-size: 1rem;
  line-height: 2;
  font-weight: 300;
  padding-bottom: 10px;
  color: white;
}

.icon .fa-brands {
  font-size: 2rem;
  cursor: pointer;
  color: white;
  margin: 10px 10px;
  

}

/* ---------arrow button got to top------- */

a .fa {
  font-size: 2.5rem;
  position: absolute;
  bottom: 2%;
  right: 2%;
  color: white;
  /* float: right; */
}

/* -------utilities-------- */
/* something to code for all tags apply */

/* ---------media query for small devices------ */

@media screen and (max-width: 700px) {
  /* ----------navbar----- */
  .text-box h1 {
    font-size: 1.5rem;
  }
  .text-box p {
    font-size: 0.8rem;
  }
  .text-box a {
    font-size: 0.8rem;
    padding: 0.3rem 2rem;
  }

  .navbar ul li {
    display: block;
    padding: 15px;
  }

.header{
  overflow-x: hidden;
}
  .navbar {
    width: 200px;
    height: 100vh;
    background: orangered;
    position: absolute;
    right: -200px;
    /* overflow: hidden; */
    top: 0;
    z-index: 2;
    text-align: left;
    transition: 0.5s ease-in-out;
  }

  .heading .bar{
    position: absolute;
    top: 1%;
    right: 5%;
  }

  .navbar .fa,
  .heading .fa {
    display: block;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 5px;
    /* position: absolute; */
  }
  .navbar ul {
    padding: 20px;
  }

  /* -------course section---- */

  .row {
    flex-direction: column;
  }

  .text-col {
    margin-bottom: 20px;
  }

  /* ------------campus---------- */

  .img-col {
    margin-bottom: 20px;
  }

  /* -----------testimonial-------- */

  .testimonial-col {
    margin-bottom: 20px;
  }

  /* ----------contact us---------- */

  .contact h1 {
    font-size: 1.5rem;
  }

  .contact a {
    padding: 8px 15px;
    font-size: 0.9rem;
  }

/* ---------------every heading font-size decrease------------- */

  .course h1 , .campus h1 , .end h1 , .facilities h1 ,.testimonial h1{
    font-size: 2rem;
  }

  .end p{ 
    font-size: .8rem;
  }
}
